@model PFD_OCBC_Group5.Models.SecondMobile

@{
    ViewData["Title"] = "Validate";
}

<h3 style="margin-top: 3em">Enter second applicant's mobile number</h3>
<p style="color: grey; font-size: 10px">We will send a link via SMS to the second applicant to input their information.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Validate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input name="nric" asp-for="MobileNo" class="form-control" type="number" required/>
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" type="number" onpaste="return false;" ondrop="return false;" required/>
                <span class="text-danger">@ViewBag.MismatchNum</span>
            </div>
            <div class="form-group">
                @if(Context.Session.GetString("Status") != "Continue")
            {
                <input type="submit" value="Send" class="btn btn-primary" />
                }
                else
                {
                    <button type="submit" class="buttonstyle" asp-controller="AccountForm" asp-action="PersonInfo">Submit</button>
                }

            </div>
        </form>
    </div>
</div>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>