@model PFD_OCBC_Group5.Models.JointAccountView

@{
    ViewData["Title"] = "View Joint Account Information";
}

<head>
    <script src="~/js/site.js"></script>
</head>

<div class="header">
    <h2 class="jaTitle">Your application was successful!</h2>
    <p class="jaSubTitle">Additional information about your newly created joint account will have been sent to your personal emails that were provided during your application process. Thank You!</p>
    <hr />
</div>

<div class="jaContainer">
    <div class="form-group">
        <label asp-for="ja.AccountNumber" class="control-label"></label>
        <input asp-for="ja.AccountNumber" class="form-control" readonly />
        <span asp-validation-for="ja.AccountNumber" class="text-danger"></span>
    </div>

    <div class="jaNameRow">
        <div class="jaName">
            <h5>Main Account Holder</h5>
            <div class="form-group">
                <input asp-for="firstName" class="form-control" readonly />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
        </div>

        <div class="jaName">
            <h5>Joint Account Holder</h5>
            <div class="form-group">
                <input asp-for="secondName" class="form-control" readonly />
                <span asp-validation-for="secondName" class="text-danger"></span>
            </div>
        </div>
    </div>
 
    <div>
        <h5>Relationship of Joint Holder to Main Holder</h5>
        <div class="form-group">
            <input asp-for="ja.RelationshipToOwner" class="form-control" readonly />
            <span asp-validation-for="ja.RelationshipToOwner" class="text-danger"></span>
        </div>
    </div>
</div>