@model PFD_OCBC_Group5.Models.JointAccountModel

@{
    ViewData["Title"] = "View Joint Account Information";
}

<head>
    <script src="~/js/site.js"></script>
</head>

<div class="header">
    <h2 class="jaTitle">Your application was successful!</h2>
    <p class="jaSubTitle">Additional information about your newly created joint account will have been sent to your personal emails that were provided during your application process. Thank You!</p>
    <hr />
</div>

<div class="jaContainer">
    <div>
        <h5>@Html.DisplayNameFor(model => model.AccountNumber)</h5>
        <p class="accNumber">@Model.AccountNumber</p>
    </div>

    <div class="jaNameRow">
        <div class="jaName">
            <h5>Main Account Holder</h5>
            <p class="mainHolderName"></p>
        </div>

        <div class="jaName">
            <h5>Joint Account Holder</h5>
            <p class="jointHolderName"></p>
        </div>
    </div>
 
    <div>
        <h5>Relationship of Joint Holder to Main Holder</h5>
        <p class="jointRelationship">@Model.RelationshipToOwner</p>
    </div>
</div>

<link rel="stylesheet" href="~/css/jointAccount.css" />