@model PFD_OCBC_Group5.Models.SecondEmail

@{
    ViewData["Title"] = "Validate";
}


@if (Context.Session.GetString("Status") == "Continue")
{
    <h3 style="margin-top: 3em">Enter your email address</h3>
    <p style="color: grey; font-size: 10px">If you have saved your information</p>
}
else
{
    <h3 style="margin-top: 3em">Enter the second applicant's email address</h3>
    <p style="color: grey; font-size: 10px">We will send a link via email to the second applicant to input their information.</p>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Validate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddr" class="control-label"></label>
                <input name="EmailAddr" asp-for="EmailAddr" class="form-control"/>
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmailAddr" class="control-label"></label>
                <input asp-for="ConfirmEmailAddr" class="form-control" onpaste="return false;" ondrop="return false;"/>
                <span asp-validation-for="ConfirmEmailAddr" class="text-danger">@ViewBag.MismatchNum</span>
            </div>
            <div class="form-group">
                @if (Context.Session.GetString("Status") != "Continue")
                {
                    <input type="submit" value="Send" class="btn btn-primary" />
                }
                else
                {
                    <button type="submit" class="buttonstyle" asp-controller="AccountForm" asp-action="PersonInfo">Submit</button>
                }
            </div>
        </form>
    </div>
</div>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>