@model PFD_OCBC_Group5.Models.AccountFormModel
@{
    ViewData["Title"] = "Singpass";
    Layout = null;
}

    <img src="/images/Singpass.png" />
<form asp-controller="AccountForm" asp-action="PersonInfo">
    <div class="form-group">
        <label asp-for="NRIC" class="control-label"></label>
        <input asp-for="NRIC" id="test" class="form-control" required />

        <span asp-validation-for="NRIC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>



<link href="/css/singpass.css" rel="stylesheet">