
@{
    ViewData["Title"] = "Singpass";
    Layout = null;
}

<a asp-controller="AccountForm" asp-action="PersonInfo">
    <img src="/images/Singpass.png" />
</a> 



<link href="/css/singpass.css" rel="stylesheet">