@model PFD_OCBC_Group5.Models.SingpassModel

@{
    ViewData["Title"] = "SingpassLogin";
}

<h1>Singpass Login</h1>

<div>
    <hr />
    <form asp-controller="Singpass" asp-action="SingpassLogin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="segmented-row">
            <div class="form-group">
                <label asp-for="NRIC" class="control-label"></label>
                <input asp-for="NRIC" class="form-control" required />
                <span asp-validation-for="NRIC" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="buttonstyle" asp-action="SingpassLogin">Login</button>
        </div>
    </form>
</div>
