@model PFD_OCBC_Group5.Models.ValidateConfirmPassword

@{
    ViewData["Title"] = "Singpass Register";
}

<h2 class="font-weight-bold text-center" style="margin:2em 2em 0 2em">Singpass Register</h2>
<hr />
<div class="row justify-content-md-center" style="margin-top: 1em">
    <form asp-controller="Singpass" asp-action="SingpassRegister">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.NRIC" class="control-label"></label>
                <input asp-for="accountInformation.NRIC" class="form-control" required />
                <span asp-validation-for="accountInformation.NRIC" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.Name" class="control-label"></label>
                <input asp-for="accountInformation.Name" class="form-control" required />
                <span asp-validation-for="accountInformation.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.HomeAddress" class="control-label"></label>
                <input asp-for="accountInformation.HomeAddress" class="form-control" required />
                <span asp-validation-for="accountInformation.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.PostalCode" class="control-label"></label>
                <input asp-for="accountInformation.PostalCode" class="form-control" required />
                <span asp-validation-for="accountInformation.PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="accountInformation.Nationality" class="control-label"></label>
                <input asp-for="accountInformation.Nationality" class="form-control" required />
                <span asp-validation-for="accountInformation.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="accountInformation.DOB" class="control-label"></label>
                <input asp-for="accountInformation.DOB" class="form-control" required />
                <span asp-validation-for="accountInformation.DOB" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="accountInformation.Gender" class="control-label"></label>
                <select asp-for="accountInformation.Gender"
                        asp-items="@ViewData["GenderSelection"] as List<SelectListItem>"
                        class="form-control">
                </select>
                <span asp-validation-for="accountInformation.Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.Email" class="control-label"></label>
                <input asp-for="accountInformation.Email" class="form-control" required />
                <span asp-validation-for="accountInformation.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="accountInformation.MobileNumber" class="control-label"></label>
                <input asp-for="accountInformation.MobileNumber" class="form-control" required />
                <span asp-validation-for="accountInformation.MobileNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="accountInformation.Password" class="control-label"></label>
            <input asp-for="accountInformation.Password" class="form-control" required />
            <span asp-validation-for="accountInformation.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="cfmPassword" class="control-label"></label>
            <input asp-for="cfmPassword" class="form-control" required />
            <span asp-validation-for="cfmPassword" class="text-danger"></span>
        </div>

        <div class="form-group text-center" style="margin-top: 2rem">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Go Back</a>&nbsp;
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
</div>
